# Mysql2


default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: 123456
  host: localhost


development:
  <<: *default
  database: jdstore_development


test:
  <<: *default
  database: jdstore_test



production:
  <<: *default
  database: jdstore_tproduction
  username: jdstore
  password: <%= ENV['LANPAGE_DATABASE_PASSWORD'] %>
